@charset "UTF-8";

html {
	height: 100%;
	overflow-y: scroll;
}


body {
	
	margin: 0;
	padding: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4;
	background-color: #EBF9FC;
	background-image: url(../images/bg_clouds.png);
	background-repeat: repeat;

}



/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,  {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}
a {
   outline: 0;
}

/* ~~  container  ~~ */

.container {
	width: 1024px;
	min-height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

}

* html .container {
height: 100%;
}
/* ~~ structure  ~~ */

.content {
	width: 844px;
	float: right;
	padding-top: 10px;
	padding-right: 0;
	margin-left: 10px;
	padding-left: 0px;
	margin-bottom: 0;
	padding-bottom: 10px;
	
	
}



.container .content #topnavarea ul {
	float: right;
	display: block;
	height: 40px;
}
.sidenav {
	float: left;
	width: 165px;
	padding-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}
.container .sidenav p a {
	color: #EB2F8A;
	text-decoration: none;
}


.address a   {
	color: #EB2F8A;
	text-decoration: none;
}
.address {
	padding-top:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #7B919B;
}

.quote {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	display: block;
	padding-right: 10px;
}
.greytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #7B919B;
}


/* ~~main ~~ */

.main {
	background-color:white;
	color: #7B919B;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	height:100% !important;
	min-height:100%;
}

* html .container .content  {
height: 100%;
}


#text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #7B919B;

	height:auto !important;
	
}

#textold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #7B919B;
	min-height:250px;
	height:auto !important;
	height:250px;
}
.clear {
	clear: both;
}

#textmobile {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #7B919B;
	height:500px;
	background-image: url(../images/illust_what.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}


#main_left {
	width: 260px;
	float: left;
}

#main_leftCoffee {
	width: 380px;
	float: left;
}
#main_left2col {
	width: 390px;
	float: left;
}


#main_rightCoffee {
	width: 380px;
	float: right;
}
#main_right2col {
	width: 390px;
	float: right;
}
#main_right2colNarrow {
	width: 320px;
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}

#tintbox {
	background-color: #EBF9FC;
	margin-left: 10px;
	padding: 10px;
	width: 220px;
}
#tintboxRight {
	background-color: #EBF9FC;
	padding: 10px;
	width: 370px;
	margin-bottom: 10px;
}
#tintboxWide {
	background-color: #EBF9FC;
	margin-left: 10px;
	padding: 10px;
}
#infinity_graph2 {
	background-image: url(../images/Infinity_graph2.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	height: 440px;
	width: 814px;
}


.words {
	display: block;
	height: 130px;
}
.illustration {
	display: block;
	font-weight: normal;
}


#main_right1 {
	width: 260px;
	float: left;
}


#main_right2 {
	width: 260px;
	float: right;
}
#main_right {
	width: 537px;
	float: right;
}



	/* ~~ The  TOP{ navigation list ~~ */

div#topnavarea {
 height: 30px;
 	width: 100%;
	margin-bottom:10px;
	background-color: #FFF;

 }
div#topnavarea ul {
 margin: 0px;
 padding: 0px;
 font-family: Arial, Helvetica, sans-serif;
font-size: small;
 color: #FFF;
 white-space: nowrap;
    float:right;	
}
div#topnavarea li {
 list-style-type: none;
 display: inline;


}
div#topnavarea li a {
 text-decoration: none;
padding: 7px 10px;
 color: #FFF;
 height: 30px;

}
div#topnavarea lia:link {
color: #FFF:
}
div#topnavarea lia:visited {
color: #CCC;
}
div#topnavarea lia:hover {
font-weight: bold;
color: #FFF;
 background-color: #3366FF;
}

	

/* ~~ The navigation list ~~ */
ul.nav {
	list-style: none;
	margin-top: 35px;
	width:165px;
	margin-bottom: 15px;
}
ul.nav li {
	height:45px;
}
ul.nav a, ul.nav a:visited {
	height:45px;
	display: block;
	text-decoration: none;
	color: #FFF;
	
	}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	height:45px;
	color: #FFF;
	
	}
	
/* ~~The footer ~~ */
.footer {
	padding: 0;
	position: relative;/*IE6 hasLayout to properly clear */
	clear: both;
	height: 5px;
}

.clicks {
	background-color: #EF811C;
	display: block;
	height: 30px;
	width: 200px;
	float: left;
	padding: 1px;
	text-align: center;
	margin-right: 10px;
}

/* ~~miscellaneous */
.fltrt { 
	float: right;
	margin-left: 8px;
}
.image {
	float: left;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


.bigwords {
	padding-bottom: 40px;
	padding-top: 20px;
}
.spacebelowabove {
	padding-top: 15px;
	padding-bottom: 15px;
}
.spacebelow {
	padding-bottom: 20px;
}

.engagepdf {
	display: block;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 15px;
	background-color: #D0F7FC;
	width: 240px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	float: right;
}

.engagepdf2 {
	display: block;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 15px;
	background-color: #D0F7FC;
	width: 200px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	float: right;
}

.engagepdf2 a {
	text-decoration: none;
	color: #45B8E2;
	}
.engagepdf a {
	text-decoration: none;
	color: #45B8E2;
	}
.apppdf {
	display: block;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FEDFC2;
	width: 240px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.apppdf a {
	text-decoration: none;
	color: #F38B21;
	}
	
	.apppdf2 a {
	text-decoration: none;
	color: #F38B21;
	}
	
.infinitypdf {
	display: block;
	float: right;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FCBDCE;
	width: 240px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.infinitypdf2 {
	display: block;
	float: right;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FCBDCE;
	width: 200px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.infinitypdf a {
	text-decoration: none;
	color: #FA2B62;
	}
	
	.infinitypdf2 a {
	text-decoration: none;
	color: #FA2B62;
	}
	
	
	.back {
	display: block;
	float: right;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
	.back a {
	text-decoration: none;
	color: #7B919B;
	}
#toplinks {
	height: 30px;
}
	
.onepdf {
	display: block;
	float: right;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D1EED0;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	width: 240px;
}
.onepdf a {
	text-decoration: none;
	color: #5BC050;
	}

/* ~~logos ~~ */

#logos {
width:100%;
}
#logos div {
	width:134px;
	float:left;
	display:inline;
	min-height: 135px;
    height: auto !important /
	text-align: center;
}
.space {
	padding-top: 10px;
	padding-bottom: 10px;
}


/* ~~ coffee  ~~ */
.border {
	border: 1px solid #8CA6B1;
}
.borderFloatRight {
	border: 2px solid #45B8E2;
	float: right;
	margin-left: 5px;
}
.pinkborder {
	border: 1px solid #8CA6B1;
}
.purpleborderFloatRight {
	border: 2px solid #8577BF;
	float: right;
	margin-left: 5px;
}
.pinkborderFloatRight {
	border: 2px solid #F4356D;
	float: right;
	margin-left: 5px;
}

.orangeborder {
	border: 1px solid #8CA6B1;
}
.orangeborderFloatRight {
	border: 2px solid #EC801E;
	float: right;
	margin-left: 5px;
}

.greenborder {
	border: 1px solid #69CD5B;
}
.greenborderFloatRight {
	border: 2px solid #69CD5B;
	float: right;
	margin-left: 5px;
}

.dottedline {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #AABAC2;
	height: 15px;
	padding-top: 10px;
	margin-top: 10px;
}



#phones {
width:100%;
}
#phones div {
	width:122px;
	float:left;
	display:inline;
	min-height: 145px;
    height: auto !important /
	text-align: center;
	height: 150px;
}
.greytext p {
	margin-left: 0px;
}

#phonestext {
width:100%;
}
#phonestext div {
	width:122px;
	float:left;
	display:inline;
	
}

#phonestextwide div {
	width:207px;
	float:left;
	display:inline;
	
}

.infinitypink {
	font-size: 12px;
	font-weight:bold;
	color: #F82B60;
	line-height: 16px;
	padding-bottom: 5px;
}
p {
	margin-top: 0px;
}
.box {
	background-color: #000;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-top-color: #F1801C;
	border-right-color: #F1801C;
	border-bottom-color: #F1801C;
	border-left-color: #F1801C;
}

.boxApps {
	background-color: #000;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-top-color: #F1801C;
	border-right-color: #F1801C;
	border-bottom-color: #F1801C;
	border-left-color: #F1801C;
}
.boxEngage {
	border: 1px solid #63DBFD;
	background-color: #EAF8FB;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 5px;
}

.productbox {
	background-color: #EB2F8A;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	color: #FFF;
}

.productbox a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}

/* ~~The footer ~~ */
.footer {
	padding: 0;
height: 30px;
	width: 1005px;
margin: 0 auto; 
}


#clicks {
	float: right;
	background-color: #e0225a;
	display: block;
	height: 20px;
	width: 250px;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #EDEDED;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	}

#apps {
	background-color: #F5A035;
	display: block;
	height: 20px;
	width: 250px;
	float: right;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #EDEDED;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

#countclicks {
	float: right;
	display: block;
}

#countapps {
	float: right;
	display: block;
}


#products {
width:100%;
}
#products div {
	width:245px;
	float:left;
	display:inline;
	min-height: 135px;
    height: auto !important /
	text-align: center;
	padding-right: 25px;
}


/* ~~bullets */
.app_bullets ul  {
	list-style-type: none;
	list-style-image: url(../images/orange_bullet.png);
	margin-left: 8px;
	}
	.app_bullets ul li  {
	padding-bottom:2px;	
}

.infinity_bullets ul {
	list-style-type: none;
	list-style-image: url(../images/pink_bullet.png);
	margin-left: 8px;
}

.infinity_bullets ul li {
	padding-bottom:2px;
}


.grey_bullets ul {
	list-style-type: none;
	list-style-image: url(../images/grey_bullet.png);
	margin-left: 8px;
}

.grey_bullets ul li {
	padding-bottom:2px;
}

.engage_bullets ul  {
	list-style-type: none;
	list-style-image: url(../images/blue_bullet.png);
	margin-left: 8px;
	}
.engage_bullets ul li  {
padding-bottom:2px;	
}

.black_bullets ul {
	color:#FFF;
	list-style-type: none;
	list-style-image: url(../images/black_bullet.jpg);
	margin-left: 8px;
}

.black_bullets ul li {
	padding-bottom:1px;
}


/* ~~coloured text */
.bluelink a:hover   {
	color: #45B8E2;
	text-decoration: none;
}
.bluename {
	font-size: 14px;
	font-weight: normal;
	color: #45b8e2;
}
.pinkname {
	font-size: 14px;
	font-weight: normal;
	color: #F4356D;
}

.orangename {
	font-size: 14px;
	font-weight: normal;
	color: #EF811C;
}

.purplename {
	font-size: 14px;
	font-weight: normal;
	color: #8577BF;
}
.greenname {
	font-size: 14px;
	font-weight: normal;
	color: #69CD5B;
}
.pinklink a   {
	color: #EB2F8A;
	text-decoration: none;
}

.bluelink a   {
	color:#45B8E2;
	text-decoration: none;
}

.orangelink a   {
	color:#EC801E;
	text-decoration: none;
}

.purplelink a   {
	color: #8577BF;
	text-decoration: none;
}

.greenlink a   {
	color:#69CD5B;
	text-decoration: none;
}
.engageubtitle {
	font-size: 14px;
	font-weight: bold;
	color: #45b8e2;
	padding-bottom: 5px;
}

.greensubtitle {
	font-size: 14px;
	font-weight: bold;
	color: #62CF56;
}
.limegreensubtitle {
	font-size: 14px;
	font-weight: bold;
	color: #79CD21;
}
.orangesubtitle {
	font-size: 14px;
	font-weight: bold;
	color: #F5A035;
}
.pinkubtitle {
	font-size: 14px;
	font-weight: bold;
	color: #EB2F8A;
	line-height: 16px;
}
.infinitypinksubtitle {
	font-size: 14px;
	font-weight: bold;
	color: #F82B60;
	line-height: 16px;
	padding-bottom: 5px;
}

.subtitle {
	display: block;
	
}

.greyname {
	color: #8C8E9B;
	font-size: 14px;
	line-height: 15px;
}
.bluetitle {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #47C1EC;
}

.bluesubtitle {
	font-size: 14px;
	font-weight: bold;
	color: #45b8e2;
}

/* ~~text boxes */
.bluebox {
	color: #FFF;
	background-color: #4BB8DF;
	padding: 5px;
}
.orangebox {
	color: #FFF;
	background-color: #F5A035;
	padding: 5px;
}
.link a {
	color: #7C8F96;
	text-decoration: none;
}
#text .link {
	color: #677B83;
	text-decoration: none;
}
